<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản Lý Sản Phẩm</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="container" >
        <h1 class="text-center">Quản Lý Sản Phẩm</h1>
        <form>
            <div class="form-group">
                    <input type="text" placeholder="Nhập từ khóa tìm kiếm" name="keyword" class="from-control">
            </div>
            <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="number"
                               name="from_price"
                               class="form-control"
                               placeholder="Nhập giá bắt đầu..." />
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="number"
                               name="to_price"
                               class="form-control"
                               placeholder="Nhập giá kết thúc..." />
                    </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-danger" value="Tìm kiếm" />
            </div>
        </form>
        <table class="table">
            <tr>
                <th></th>
                <th>ID</th>
                <td>Name</td>
                <td>Price</td>
            </tr>
            {% for p in products %}
            <tr>
                <td>
                    <img width="120" alt="{{ p.name }}" src="{{ url_for('static', filename=p.image) }}" />
                </td>
                <td>{{ p.id }}</td>
                <td>
                    <a href="{{ url_for('product_detail',product_id=p.id) }}">{{ p.name }}</a>
                </td>
                <td>{{ "{:,.1f}".format(p.price) }} VNĐ</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>